{% if error_field == "area_cluster" or error_field == "area_clusters" %}
<div class="alert alert-danger py-2 small">{{ error }}</div>
{% endif %}

<div class="mb-3">
<label class="form-label">Area Cluster</label>
<div class="d-flex flex-wrap gap-2">

    {% for area in all_area_clusters %}

        <input 
              type="{{ 'radio' if mode == 'single' else 'checkbox' }}"
               class="btn-check"
               name="{{ name }}[]"
               id="{{ name }}-{{ area | replace(' ', '-') | lower }}"
               value="{{ area }}"
               
                {% if selected and area in selected %}
                    checked
                {% endif %}>

        <label class="btn btn-outline-dark btn-sm rounded-pill px-3 py-2"
               for="{{ name }}-{{ area | replace(' ', '-') | lower }}">
            {{ area }}
        </label>

    {% endfor %}

</div>
</div>