{% set ref = 'UBB-' ~ '%03d'|format(property.id) %}
{% set message =
  'Urban Bricks & Bonds\n\n' ~

  (property.configuration ~ ' ' if property.configuration else '') ~

  property.type ~ ' • ' ~ property.mode ~ '\n' ~

  'Area: ' ~ property.area_cluster ~ '\n' ~

  'Budget: ₹ ' ~ property.budget ~ '\n' ~

  ('Size: ' ~ property.area ~ ' sq ft\n' if property.area else '') ~

  'Ref: ' ~ ref ~ '\n' ~

  ('\nVideo: ' ~ property.video_link if property.video_link else '')
%}

<a
  target="_blank"
  href="https://wa.me/?text={{ message | urlencode }}"
  class="btn btn-sm btn-success position-relative z-1"
>
  Share
</a>