<!DOCTYPE html>
<html>
<head>
    <title>Add Property</title>
</head>
<body>
    <h2>Add Property</h2>

    <form method="POST">
        <input name="type" placeholder="Residential / Commercial"><br><br>
        <input name="mode" placeholder="Rent / Sale"><br><br>
        <input name="location" placeholder="Location"><br><br>
        <input name="budget" type="number" placeholder="Budget"><br><br>
        <input name="area" type="number" placeholder="Area"><br><br>
        <input name="owner_name" placeholder="Owner Name"><br><br>
        <input name="owner_contact" placeholder="Owner Contact"><br><br>
        <button type="submit">Save</button>
    </form>

    <br>
    <a href="/">Back</a>
</body>
</html>
