{% extends "base.html" %}
{% block title %}Clients{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Clients</h4>
    <a href="/add-client" class="btn btn-dark btn-sm">+ Add</a>
</div>

{% for client in clients %}
<div class="card mb-3 shadow-sm">
    <div class="card-body">

        <h6 class="fw-bold">{{ client[1] }}</h6>

        <div class="small text-muted">
            📞 {{ client[2] }}
        </div>

        <div class="mt-2">
            {{ client[3] }} | {{ client[4] }}
        </div>

        <div class="small">
            📍 {{ client[5] }}
        </div>

        <div class="fw-semibold">
            ₹ {{ client[6] }}
        </div>

        <div class="small text-muted">
            Follow-up: {{ client[7].strftime("%d-%m-%Y") if client[7] }}
        </div>

        <div class="mt-2 small">
            <strong>Next:</strong> {{ client[11] }}
        </div>

        <div class="small text-muted mt-1">
            {{ client[10] }}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}