<div class="card shadow-sm p-3 mb-4 position-relative filter-card">

    <!-- Spinner -->
    <div class="filter-spinner position-absolute top-50 start-50 translate-middle d-none">
        <div class="spinner-border spinner-border-sm text-dark"></div>
    </div>

    <form method="GET" class="auto-submit-filters">

        {% include "partials/broker_properties/_search.html" %}
        {% include "partials/broker_properties/_filters.html" %}

        <!-- Clear -->
        <div class="text-end mt-2">
            <a href="/broker-properties" class="btn btn-sm btn-outline-dark">
                Clear Filters
            </a>
        </div>

    </form>
</div>